In [6]:
class Employee:
    def __init__(self, name, employee_id, department):
        self.name = name
        self.employee_id = employee_id
        self.department = department

emp = Employee("Sahara omi",2020360024,"CSE")
print("Employee Name:", emp.name)
print("Employee ID:", emp.employee_id)
print("Employee Department:", emp.department)

Employee Name: Sahara omi
Employee ID: 2020360024
Employee Department: CSE

In [7]:
class Employee:
    def __init__(self, name, employee_id, department):
        self.name = name
        self.employee_id = employee_id
        self.department = department

    def display_info(self):
        print("Employee Information:")
        print("Name:", self.name)
        print("ID:", self.employee_id)
        print("Department:", self.department)


emp = Employee("Sahara", 2020360024, "CSE")
emp.display_info()

Employee Information:
Name: Sahara
ID: 2020360024
Department: CSE

In [9]:
class Employee:
    def __init__(self, name, employee_id, department):
        self.name = name
        self.employee_id = employee_id
        self.department = department

    def display_info(self):
        print("Employee Information:")
        print("Name:", self.name)
        print("ID:", self.employee_id)
        print("Department:", self.department)

employee1 = Employee("Anika Tahsin", 12345, "Finance")
employee2 = Employee("Jannaat ara", 54321, "Marketing")

print("Employee 1:")
employee1.display_info()
print("\nEmployee 2:")
employee2.display_info()

Employee 1:
Employee Information:
Name: Anika Tahsin
ID: 12345
Department: Finance

Employee 2:
Employee Information:
Name: Jannaat ara
ID: 54321
Department: Marketing

In [12]:
class Employee:
    def __init__(self, name, employee_id, department):
        self.name = name
        self.employee_id = employee_id
        self.department = department

    def display_info(self):
        print("Employee Information:")
        print("Name:", self.name)
        print("ID:", self.employee_id)
        print("Department:", self.department)


class Manager(Employee):
    def __init__(self, name, employee_id, department, team_size):
        super().__init__(name, employee_id, department)
        self.team_size = team_size

    def display_info(self):
        super().display_info()
        print("Team Size:", self.team_size)

manager1 = Manager("Jannat", 9800, "Management", 10)
manager1.display_info()

Employee Information:
Name: Jannat
ID: 9800
Department: Management
Team Size: 10